body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

header {
  background: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

section {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: black;
}

form {
  margin-top: 15px;
}

fieldset {
  border: 1px solid grey;
  padding: 10px;
}

legend {
  font-weight: bold;
  color: black;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

button {
  background-color: rgb(66, 2, 13);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(66, 2, 13);
}

footer {
  text-align: center;
  margin-top: 20px;
  color: black;
}
